nav, h1, p {
    text-align: center; /* Center the text within the nav */
}

nav ul {
    display: inline-block; /* Make the ul an inline block */
    padding: 10px;
}
nav li{
  display: inline-block;
<<<<<<< HEAD
  margin-right: 20px; /* Add spacing between nav items */
}

nav a {
  text-decoration: none; /* Remove underline */
  color: #333; /* Dark gray text */
  font-weight: bold; /* Make text bold */
}

.container{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: lightblue; /* just to see the container */
  padding: 20px;
}
